* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark: #457b9d;
  --light: #fff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark);
}

.notif {
  position: fixed;
  top: 30px;
  right: 20px;
}

.notif section:nth-child(2n) {
  display: flex;
  align-items: center;
}
.notif :where(.toast, .column) {
  display: flex;
}
.notif .toast {
  position: relative;
  overflow: hidden;
  width: 400px;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background-color: var(--light);
  justify-content: space-between;
  /* animation: show_toast 0.5s ease forwards; */
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  /* animation: progress 5s linear forwards; */
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before,
.btn#success {
  background: var(--success);
}
.toast.warning::before,
.btn#warning {
  background: var(--warning);
}
.toast.error::before,
.btn#error {
  background: var(--error);
}
.toast.info::before,
.btn#info {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i::before {
  color: var(--success);
}
.toast.warning .column i::before {
  color: var(--warning);
}
.toast.error .column i::before {
  color: var(--error);
}
.toast.info .column i::before {
  color: var(--info);
}
.toast .column span {
  font-size: 1.05rem;
  margin-left: 12px;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}

.buttons .btn {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
}
